<div  class="container">
  <div class="row justify-content-center">
    <div class="col-4">
<form [formGroup]="citizenForm" (ngSubmit)="create()">
  <h2 class="text-center text-primary">Create Citizen</h2>
  <hr />


  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          citizenForm.get('username').errors &&
          citizenForm.get('username').touched
      }"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback">Please choose a username</div>
  </div>
  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          citizenForm.get('age').errors &&
          citizenForm.get('age').touched
      }"
      class="form-control"
      formControlName="age"
      placeholder="Age"
    />
    <div class="invalid-feedback">Please enter Age between 18 and 150</div>
  </div>
   <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          citizenForm.get('city').errors && citizenForm.get('city').touched
      }"
      class="form-control"
      placeholder="City"
      formControlName="city"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        citizenForm.get('city').touched &&
        citizenForm.get('city').hasError('required')
      "
    >
      City is required
    </div>
  </div>

  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          citizenForm.get('notes').errors &&
          citizenForm.get('notes').touched
      }"
      class="form-control"
      formControlName="notes"
      placeholder="notes"
    />
    <div class="invalid-feedback">Please enter notes</div>
  </div>


  <div class="form-group text-center">
    <button
      class="btn btn-success"
      [disabled]="!citizenForm.valid"
      type="submit"
    >
      Create
    </button>
    <button class="btn btn-success" style="margin:10px;" type="button" (click)="clear()">
      Clear
    </button>
  </div>
</form>
    </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
  </ngx-spinner>
