#upper-side {
  padding: 2em;
  background-color: #8BC34A;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left:45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


